.contenedor{
	.cursos{
		width: 100%;
		display: flex;
		margin-bottom: 0;
		.titulocur{
			display: flex;
			width: 20%;
			height: 120px;
			border-right: 1px solid $rojo;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
			justify-content: center;
			margin-bottom: 20px;
			position: relative;
			left: -1500px;
			transition: left 1s ease;
			transition-delay: 1.4s;
			z-index: -1;
			background: #fff;
			h2{
				color: $rojo;
				font-weight: 700;
				font-style: italic;
                font-size: 1.8em;
			}
		}
		.textos{
			display: flex;
			width: 80%;
			align-items: center;
			.textouno, .textodos{
				padding-left: 10px;
				padding-right: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				height: 120px;
				background: #fff;
				p{
					font-style: italic;
					line-height: 1.3em;
				}
			}
			.textouno{
				border-right: 1px solid $rojo;
				position: relative;
				left: -1500px;
				transition: left 1s ease;
				transition-delay: 1.6s;
				z-index: -2;
			}
			.textodos{
				position: relative;
				left: -1500px;
				transition: left 1s ease;
				transition-delay: 1.8s;
				z-index: -3;
			}
		}
	}
	.tiposcursos, .tiposcursosdos, .tiposcursostres , .tiposcursoscuatro{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		margin-top: 0;
		position: relative;
		.izquierda{
			display: flex;
			width: 100%;
			align-items: center;
			.texto1completo, .texto1avanzado, .texto1estacionamiento, .texto1transito{
				display: flex;
				width: 25%;
				height: 120px;
				text-align: center;
				justify-content: center;
				font-style: italic;
				padding: 10px;
				border-right: 1px solid $rojo;	
				position: relative;
				left: -1500px;
				transition: left 1s ease;	
				background: #fff;
				z-index: -1;	
				h2{
					color: $rojo;
					line-height: 1.3em;
					span{
						font-size: .6em;
						font-weight: 400;
						color: #000;
					}
				}
				.small{
					color: $rojo;
					font-weight: 700;
					font-size: 1em;
				}
			}
			.textounocompleto, .textodoscompleto, .textotrescompleto,
			.textounoavanzado, .textodosavanzado, .textotresavanzado,
			.textounoestacionamiento, .textodosestacionamiento, .textotresestacionamiento,
			.textounotransito, .textodostransito, .textotrestransito{
				width: 25%;
				height: 120px;
				display: flex;
				align-content: center;
				align-items: center;
				font-style: italic;
				padding: 10px;
				position: relative;
				left: -1500px;
				transition: left 1s ease;
				background: #fff;
			}
			.textounocompleto, .textodoscompleto,
			.textounoavanzado, .textodosavanzado,
			.textounoestacionamiento, .textodosestacionamiento,
			.textounotransito, .textodostransito{
				border-right: 1px solid $rojo;
			}
			#completo2, #avanzado2, #estacionamiento2, #transito2{
				transition-delay: .2s;
				z-index: -2;
			}
			#completo3, #avanzado3, #estacionamiento3, #transito3{
				transition-delay: .4s;
				z-index: -3;
			}
			#completo4, #avanzado4, #estacionamiento4, #transito4{
				transition-delay: .6s;
				z-index: -4;
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.contenedor{
		.cursos{
			flex-wrap: wrap;
			.titulocur{
				width: 100%;
				height: 60px;
				border: none;
			}
			.textos{
				width: 100%;
			}

		}
		.tiposcursos, .tiposcursosdos, .tiposcursostres , .tiposcursoscuatro{
			height: auto;
			margin-bottom: 20px;
			padding-left: 10px;
			padding-right: 10px;
			.izquierda{
				flex-wrap: wrap;
				height: auto;
				.texto1completo, .texto1avanzado, .texto1estacionamiento, .texto1transito{
					width: 100%;
					border: none;
					margin-bottom: 10px;
					background: none;

				}
				.textounocompleto, .textodoscompleto, .textotrescompleto,
				.textounoavanzado, .textodosavanzado, .textotresavanzado,
				.textounoestacionamiento, .textodosestacionamiento, .textotresestacionamiento,
				.textounotransito, .textodostransito, .textotrestransito{
					width: 100%;
					height: 70px;
					border: none;
					background: none;

				}
				.textotrescompleto, .textotresavanzado, .textotresestacionamiento{
					border-bottom: 1px solid $rojo;
				}
				
			}
		}
		
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.contenedor{
		.tiposcursostres{
			.izquierda{
				.texto1estacionamiento{
					.small{
						color: $rojo;
						font-weight: 700;
						font-size: .93em;
					}
				}
			}
		}
	}
}
