.contenedor{
	margin-top: 10px;
    font-size: 18px;
	overflow: hidden;
	.titulos{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 100%;
		.titulocontacto{
			width: 30%;
			height: 120px;
			text-align: center;
			display: flex;
			background: #fff;
			border-right: 1px solid $rojo;
			justify-content: center;
			align-items: center;
			position: relative;
			left: -1500px;
			transition: left 1s ease;
			transition-delay: 1.4s;
			h1{
				padding: 0;
				font-style: italic;
				color: $rojo;
				font-size: 1.8em;
				margin: 0;
			}
		}
		.parrafos{
			width: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			.textocontacto, .textocontacto1{
				width: 50%;
				height: 120px;
				text-align: center;
				background: #fff;
				padding: 10px;
				display: flex;
				align-content: center;
				align-items: center;
				align-content: center;
				position: relative;
				left: -1500px;
				transition: left 1s ease;
				z-index: -1;
				h2{
					padding: 0;
					font-style: italic;
					font-size: 1em;
					line-height: 1.3em;
					font-weight: 400;
					margin: 0;
				}	
			}
			.textocontacto{
				border-right: 1px solid $rojo;
				transition-delay: 1.6s;
				z-index: -2;
			}
			.textocontacto1{
				transition-delay: 1.8s;
				z-index: -3;
			}
		}
	}
	.formulario{
		display: flex;
		font-size: 1.3em;	
		width: 40%;
		float: left;
		margin-top: 20px;
		justify-content: center;
		align-items: center;
		margin-left: 40px;
		.label{
			width: 20%;
			height: 60px;
			margin-top: 10px;
			color: $rojo;
			float: left;
			display: flex;
			justify-content: flex-end;
			font-style: italic;
			align-items: flex-end;
		}
		.input{
			width: 80%;
			height: 60px;
			margin-top: 10px;
			float: left;
			display: flex;
			align-items: flex-end;
			input[type="text"]{
				margin-left: 30px;
				width: 80%;
				border: none;
				border-bottom: 1px solid $rojo;
				outline: none;
				// background: #ccc;
				padding: 10px;
				padding-bottom: 0px;
				font-style: italic;
			}
			
		}
		.btn{
			padding-top: 30px;
			display: flex;
			justify-content: flex-end;
			width: 90%;
			input[type="submit"]{
				// background: #000;
				font-style: italic;
				width: 100px;
				background: #fff;
				border: none;
				color: $rojo;
				cursor: pointer;
				transition: all .3s ease;
				padding: 4px;
				&:hover{
					background: $rojo;
					color: #fff;
				}		
			}
		}
		.alert{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
		}
	}
	.contactos{
		display: flex;
		flex-direction: column;
		width: 40%;
		float: left;
		margin-top: 20px;
		justify-content: center;
		align-items: center;
		margin-left: 80px;
		margin-bottom: 30px;
		.telefonoscon,.direccioncon,.redescon{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 120px;
			background: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
			.titulo1{
				display: flex;
				width: 50%;
				height: 120px;
				background: #fff;
				margin-top: 10px;
				border-right: 1px solid $rojo;
				h2{
					text-align: center;
					font-style: italic;
					width: 10%;
					height: 120px;
					color: $rojo;
					font-size: 1.8em;
					margin: 1.1em 0;

				}
			}
			.texto{
				text-align: center;
				font-style: italic;
				line-height: 1.3em;
				width: 50%;
				position: relative;
				right: -1500px;
				transition: right 1s ease;
				a{
					display: block;
					text-decoration: none;
					color: #000;
					
				}
			}
		}
		.redescon{
			.titulo1{
				h2{
					margin: 0;
				}
			}
			.texto{
				a{
					&:hover{
						color: $rojo;
					}
				}
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.contenedor{
		.titulos{
			flex-wrap: wrap;
			.titulocontacto{
				width: 100%;
				border: none;
			}
			.parrafos{
				width: 100%;
			}
		}
		.formulario{
			width: 100%;
			background: $rojo;
			margin: 0;
			padding: 10px;
			margin-top: 20px;
			.label{
				color: #fff;
				font-weight: 400;
				width: 30%;
			}
			.input{
				width: 70%;
				input[type="text"]{
					background: transparent;
					color: #fff;
					border-bottom: 1px solid #fff;
				}
			}
		}
		.contactos{
			width: 100%;
			margin-left: 0;
			padding: 10px;
		}
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.contenedor{
		.formulario{
			width: 100%;
			margin-left: 0;
		}
		.contactos{
			width: 100%;
			margin-left: 0;
			.telefonoscon,.direccioncon,.redescon{
				width: 70%;
			}
		}
	}
}