$amarillo: #FFCC00;
$rojo: #CC0000;
.controles{
		opacity: 1;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.reproductor{
		width: 100%;
		.video{
			.controles{
				width: 100%;
			input[type="range"]{
			 -webkit-appearance: none; 
			  background: transparent; 
				}
			input[type="range"]::-webkit-slider-thumb{
				-webkit-appearance: none;
				background: #fff;
				}
			input[type="range"]:focus{
				outline: none;
				}
			input[type="range"]::-ms-track{
				width: 100%;
				cursor: pointer;
				background: transparent;
				border-color: transparent;
				color: transparent;
				}
			input[type="range"]::-moz-range-thumb{
				background: rgba(0,0,0,0.50);
				width: 8px;
				height: 8px;
				cursor: pointer;
				border: none;
				border: 2px solid #ccc;
				border-radius: 100%;
				}
			input[type="range"]::-moz-range-thumb:hover{
				background: $amarillo;
				}
			input[type="range"]::-moz-range-thumb:active{
				background: $rojo;
				}
			input[type="range"]::-webkit-slider-thumb{
				background: $amarillo;
				width: 12px;
				height: 12px;
				cursor: pointer;
				border: none;
				border: 2px solid #ccc;
				border-radius: 100%;
				}
			input[type="range"]::-webkit-slider-thumb:hover{
				background: $rojo;
				}
			 input[type="range"]::-webkit-slider-thumb:active{
				background: $rojo;
				}
			 input[type="range"]::-ms-thumb{
				background: rgba(0,0,0,0.50);
				width: 8px;
				height: 8px;
				cursor: pointer;
				border: none;
				border: 2px solid #ccc;
				border-radius: 100%;
				}
			input[type="range"]::-moz-range-track{
				width: 100%;
				background: rgba(0,0,0,0.50);
				height: 12px;
				border-radius: 5px;
				}
			input[type="range"]::-webkit-slider-runnable-track{
				width: 100%;
				background: rgba(0,0,0,0.50);
				height: 13px;
				border-radius: 5px;
//				background: #fff;
				opacity: 0.90;
				&:hover{
					cursor: pointer;
					
				}
				
				}
			 input[type="range"]::-ms-track{
				width: 100%;
				background: rgba(0,0,0,0.50);
				height: 12px;
				border-radius: 5px;
				}
			.tiempo{
				width: 970px,;
				z-index: 100;
				position: relative;
				bottom: -3px;
				background: $rojo;
				display: none;
				}
	
			.btn{
				position: absolute;
				}

			.play{
				position: relative;
				outline: none;
				bottom: 80px;
				left: 20px;
				background: rgba(255,255,255,0.50);
				width: 50px;
				height: 50px;
				border: none;
				border-radius: 50%;
				cursor: pointer;
				&:hover{
					background: rgba(0,0,0,0.50);
				}
				}
	
			.btn .fa{
				color: $amarillo;
				position: relative;
				left: 1px;
			}

			.volumen{
				position: relative;
				width: 100px;
				bottom: 78px;
				right: -80%;
				
				
			}	
		}
	}
	}

@media (min-width: 320px) and (max-width: 480px){
	.reproductor .video .controles .volumen{
		right: -50%;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.reproductor .video .controles .volumen{
		right: -65%;
	}
}