$amarillo: #FFCC00;
$rojo: #CC0000;
$check : #27ae60;
$uncheck : #c0392b;
$hover : #34495e;
$blanco : #f2f2f2;
@import "base";
@import "banner";
@import "nav";
@import "reproductor";
@import "footer";
@import "ubicacion";
@import "formulario";
@import "cursos";
@import "index";
@import "educacionvial";
@import "loadpage";
@import "semanal";
